:root {
    --bg-button: #f0f0f0;
    --border-button: solid 1px #888;
 }

.button {
    font-size: 1.4em;
    background-color: rgb(255, 0, 191);
    border:black;
}

.button:active {
    background-color: #ff0084
}

.button:double{
    grid-column: span 2 ;

}

.button.operation{
    background-color: orange;
    
}