:root {
    --bg-button: #f0f0f0;
    --border-button: solid 1px #000000;
 }

.button {
    font-size: 1.4em;
    background-color: rgb(0, 152, 152);
    border:black;
    height: 48px;
    width: 48px;
}


.button:active {
    background-color: #ffffff
}
