.App {
  text-align: center;
}

.Calculadora {
  background-color: #282c34;
  display: flex;
  height: 320px;
  width: 300px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
 
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: 1fr 48px, 48px, 48px, 48px, 48px;
}


